@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Poiret+One|Pontano+Sans');

body{
  margin:0 auto;
  font-family: 'Pontano Sans', sans-serif;

}
.menu{
  margin:0 auto;
  text-align: center;
}
.container{
  margin:0 auto;
  width: 80%;
}
.main_wrapper{
  display:grid;
  grid-template-columns: auto;
}
.grid1{
  text-align:center;
}
.line{
  border-bottom:1px solid #d2d2d2;
}
h2{
  margin-top:150px;
  color: #525963;
}
p{
  margin-left:1%;
  color: #525963;
}
#auto_pass_generate{
  border:none;
  font-size:18px;
  color:#525963;
  padding:10px 20px;
  width:700px;
  height: 30px;
  text-align:center;
  line-height: normal;
  display:none;
  margin:0 auto;
}
#symbols_amount_button{
  background-color: #fff;
  color:#525963;
  border:1px solid #d2d2d2;
  padding:10px;
}
#symbols_amount_button:hover{
  border:1px solid #5d98f7;
}
#tohide:hover{
  display:none;
}
/*menu*/
 .fixed_menu ul li{
   display: inline;
   text-decoration-style: none;
   padding: 10px 10px 2px 10px;
   border-bottom:1px solid #d2d2d2;
 }
 #refresh_pass_generate{
   position:relative;
   width:300px;
   height: 50px;
   border:2px solid #5d98f7;
   margin:20px 0 10px 0 ;
   text-align:center;
   font-size: 22px;
   font-family:'Pontano Sans', sans-serif;
 }
 #refresh_pass_generate:hover{
   background-color: #d6e5fc;
 }
 #copyAlert{
   margin-top:40px;
   font-size:22px;
   font-family: 'Pontano Sans', sans-serif;
   color: #525963;
 }
#copyButton{
  position:absolute;
  display:inline-block;
  margin-left:9%;
  margin-top:-1.2%;
  padding-bottom:5px;
  border:none;
  box-shadow:none;
  background-color: #fff;
  font-size:22px;
  font-family: 'Pontano Sans', sans-serif;
  color: #4884db;

}
#copyButton:hover{
  color:#bcd2f2;
}
.additional_option{
  margin:10px 5px;
  color:#525963;
}
#symbols_amount{
  margin-left:7%;
  margin-right: 1%;
  border:none;
  border-bottom:1px solid #4884db;
  color: #525963;
  width:40px;
  text-align:center;

}
